

h1 {
    
    margin: 20px;
    font-size: 200%;
    font-family: monospace
}

a:hover {
    color: purple
}

main {
    display: flex;
    flex-wrap: wrap;
}



section img {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.About {
    display: flex;
    flex-wrap: wrap;
}

article div title {
    flex: 1 1 10%;
    border-right: 2px solid black;
    margin-top: 20px;
}

.Bio {
    flex: 1 1 70%;
    padding: 10px;
    
}

.Apps {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

.tasks {
    flex: 1 1 70%;
    width: 33.33%;
    padding: 10px;
    content: "";
}

article div img:hover {
    display: flex;
    
    flex-grow: 1;
    margin: 20;
    border: 10px solid purple;
    
    
}

footer ul li {
    display: inline-block;
    text-decoration: black;
    font-weight: bolder;
    margin-left: 20px;
}

.Contacts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.number {
    flex: 1 1 70%;
    padding: 10px;
}

/* For desktop: */
* {width: auto}

@media only screen and (max-width: 600px) { 
    body {
        background-color: darkmagenta;}

/* For mobile phones: */
[class*="float-container"] {
    width: 100%;
}
}